<div class="container shadow p-3 mb-5 bg-white rounded">
    <section class="text-center">
        <div class="container">
            <section>
                <div class="row text-center  pt-5">
                    <div class="col-md-3 ">
                        <h1 class=" mb-4 ">
                            Feed back
                        </h1>
                    </div>

                    <hr class="my-3">

                    <div class="col-md-12  d-flex justify-content-start">
                        <h5 class=" mb-4 ">
                            How would you rate your overall Talabat.com experience?
                        </h5>
                    </div>

                    <div class="col-md-2">
                        <i class="fa-solid fa-face-frown-open fa-4x p-3"></i>


                        <ul class="list-unstyled mb-0">
                            <li>
                                <button type="button" class=" btn btn-outline-secondary mt-2 ">Not at all
                                    Satisfied</button>
                            </li>
                        </ul>
                    </div>


                    <div class="col-md-2">
                        <i class="fa-solid fa-face-frown fa-4x  p-3"></i>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <button type="button" class="btn btn-outline-secondary mt-2 ">Slightly
                                    Satisfied</button>
                            </li>
                        </ul>

                    </div>


                    <div class="col-md-3">
                        <i class="fa-solid fa-face-smile fa-4x  p-3"></i>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <button routerLinkActive="act" type="button"
                                    class="btn btn-outline-secondary mt-2 ">Moderately Satisfied</button>
                            </li>
                        </ul>

                    </div>




                    <div class="col-md-2">
                        <i class="fa-solid fa-face-smile-beam fa-4x  p-3"></i>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <button routerLinkActive="act" type="button"
                                    class="btn btn-outline-secondary mt-2 ">Quite Satisfied</button>
                            </li>
                        </ul>

                    </div>

                    <div class="col-md-3">
                        <i class="fa-solid fa-face-laugh-beam fa-4x  p-3"></i>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <button type="button" class="btn btn-outline-secondary mt-2 ">Extremely
                                    Satisfied</button>
                            </li>
                        </ul>
                    </div>
                    <hr class="my-3">
                    <div class="col-md-12 d-flex justify-content-start">
                        <h5 class=" mb-4 ">
                            How much effort did you personally have to put forth to get your service done?
                        </h5>

                    </div>
                    <div class="d-flex justify-content-between">
                        <p style="color: orange;">Very low effort</p>
                        <p style="color: orange;">Very high effort</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-dark ">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> 1
                            </label>
                            <label class="btn btn-outline-dark">
                                <input type="radio" name="options" id="option2" autocomplete="off" checked> 2
                            </label>
                            <label class="btn btn-outline-dark">
                                <input type="radio" name="options" id="option3" autocomplete="off"> 3
                            </label>
                            <label class="btn btn-outline-dark">
                                <input type="radio" name="options" id="option4" autocomplete="off"> 4
                            </label>
                            <label class="btn btn-outline-dark">
                                <input type="radio" name="options" id="option5" autocomplete="off" checked> 5
                            </label>
                        </div>

                    </div>
                    <hr class="my-3">

                    <div class="col-md-12 d-flex justify-content-start">
                        <h5 class=" mb-4 ">
                            How likely are you to recommend Talabat.com to friend, family or colleagues?
                        </h5>

                    </div>
                    <div class="d-flex justify-content-between">
                        <p style="color: orange;">Not at all likely</p>
                        <p style="color: orange;">Extremely likely</p>
                    </div>


                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-dark ">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> 1
                        </label>
                        <label class="btn btn-outline-dark">
                            <input type="radio" name="options" id="option2" autocomplete="off" checked> 2
                        </label>
                        <label class="btn btn-outline-dark">
                            <input type="radio" name="options" id="option3" autocomplete="off"> 3
                        </label>
                        <label class="btn btn-outline-dark">
                            <input type="radio" name="options" id="option4" autocomplete="off"> 4
                        </label>
                        <label class="btn btn-outline-dark">
                            <input type="radio" name="options" id="option5" autocomplete="off" checked> 5
                        </label>
                        <label class="btn btn-outline-dark">
                            <input type="radio" name="options" id="option6" autocomplete="off"> 6
                        </label>
                        <label class="btn btn-outline-dark">
                            <input type="radio" name="options" id="option7" autocomplete="off"> 7
                        </label>
                        <label class="btn btn-outline-dark">
                            <input type="radio" name="options" id="option8" autocomplete="off" checked> 8
                        </label>
                        <label class="btn btn-outline-dark">
                            <input type="radio" name="options" id="option9" autocomplete="off"> 9
                        </label>
                        <label class="btn btn-outline-dark">
                            <input type="radio" name="options" id="option10" autocomplete="off"> 10
                        </label>
                    </div>
                    <hr class="my-3">

                    <div class="col-md-12 d-flex justify-content-start">
                        <h5 class=" mb-4 ">
                            Please provide any other feedback on your Talabat.com experience.
                        </h5>
                    </div>
                    <div>
                        <textarea class="col-md-12 " name="" id="" style="height: 200px;"></textarea>
                    </div>
                    <hr class="my-3">


                    <button id="submit-feedback" type="button" class="btn btn-default m-y-md  p-x-lg text-uppercase"
                        style="background-color: green;">Submit your feedback</button>










                </div>


            </section>

        </div>

    </section>
</div>