<div class="container pt-0 p-4">
  <div class="row">
    <div class="col-12 bg-success shadow-sm p-4 pt-0 mb-5 bg-white ">

      <!---->
      <div class="card  text-white  mb-3  position-relative">
        <img class="card-img " src="https://www.talabat.com/assets/images/brandpage-bg.jpg" alt="Card image">

        <div class="card-img-overlay w-75  ">

          <img src={{data.image}} width="180px" height="162" alt="">
          <h2 class="card-title underline">{{data.name}}</h2>
          <p class="card-text ">{{data.type}}</p>
          <div class="restaurant-desc d-flex justify-content-center align-items-start">

            <img src="https://www.talabat.com/assets/images/pointer.svg" alt="arrow" width="33" height="62"
              class="mb-2 ">

            <h4 class="text-center white f-30 ml-3 ml-m-0 f-m-16 f-400 ">Select your area to see the restaurant
              menu</h4>

          </div>

          <div class="w-100 d-flex justify-content-center ">

            <div class=" form-control d-flex justify-content-around align-items-center  ">

              <img src="https://www.talabat.com/assets/images/custom-location-pin.svg" class="pin-img mr-2"
                alt="pin location" width="25" height="25">

              <input id="search-box-map-first" class="search f-16 f-m-14 w-100 border-0 " type="text"
                placeholder="Search for area, street name, landmark..." autocomplete="off" value="">

              <img alt="locate me" src="https://www.talabat.com/assets/images/locate-mp.svg" width="25"
                class="clickable" height="25">
            </div>

            <div class="col-16 col-sm-4 find-rest-btn">

              <button (click)="routeToMenu()"
                class="f-16 btn btn-success py-2 px-4 text-uppercase d-flex justify-content-center align-items-center w-100 h-100"
                style="background-color: #28a745;">Show
                menu

              </button>

            </div>
          </div>

          <div class="d-flex justify-content-center">
            <img src="https://www.talabat.com/assets/images/visa_blue.png" width="35px" height="22px" class="m-2">

            <img src="https://www.talabat.com/assets/images/logo-mastercard.svg" alt="" width="35px" height="22px"
              class="m-2">
            <img src="https://www.talabat.com/assets/images/logo-cash.svg" alt="" width="35px" height="22px"
              class="m-2">
          </div>

        </div>
      </div>


      <div class="position-absolute col-11  bg-white start-50 translate-middle shadow" style="top: 35rem;
        border-top: #ff5a00 solid 5px !important;  ">
        <div class="brand-heading pt-2 mb-2 d-flex justify-content-between">
          <h3 class="f-22 f-m-16 " style="color:#ff5a00 ;">{{data.name}} delivers to you</h3>
          <div class="offers-social d-flex align-items-center ">
            <div class="social-icons"><svg aria-hidden="true" color="#3d76ed" focusable="false" data-prefix="fab"
                data-icon="facebook-square"
                class="svg-inline--fa fa-facebook-square  fa-w-14 fa-2x ml-2 color-fb clickable" role="img"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor"
                  d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z">
                </path>
              </svg><svg aria-hidden="true" color="#00ACED" focusable="false" data-prefix="fab"
                data-icon="twitter-square"
                class="svg-inline--fa fa-twitter-square fa-w-14 fa-2x ml-2 color-twitter clickable" role="img"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor"
                  d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z">
                </path>
              </svg></div>
          </div>
        </div>
        <div class="d-flex description-tmart-sidebar">
          <div class="f-14  dark-gray mb-2">
            <div class=" text-muted ">
              <p>{{data.name}} is a restaurant located in Egypt, serving a selection of {{data.cuisines}} that delivers
                across {{data.region}}
              </p>
              <p> It delivers to our valued customers the best of {{data.type}} </p>
              <p> They have been reviewed {{random1}} times by talabat users, with a rating of {{random2}}. </p>
            </div>
          </div>
        </div>
      </div>





    </div>

  </div>
</div>
